/* Styles go here */

.subscribe {
  margin-top: 1em;
}
.topnav {
  margin-bottom: 10px;
}

.library p {
  font-size: .8em;
}
.header-row {
  position: relative;
}
.event-date {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pagination.right {
  margin-top: 2em;
}

.row h1 {
  margin-left: 12px;
}

.top-bar-section ul li>a {
  font-family: "europa";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.search-box,
.facebook-icon{
  max-width: 100px;
  padding-right: 5px;
  padding-left: 5px;
}

.library p {
  font-family: "Arial";
  font-size: 14px;
  color: #666666;
    margin-bottom: 1em;
}
p {
  font-family: "Arial";
  font-size: 16px;
  margin-bottom: 1em;
}

h1 {
  font-family: "europa";
  font-weight: 400;
  font-size: 52px;
}

h2 {
  font-family: "europa";
}

h3 {
  font-family: "europa";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2em !important;
}

h3 small {
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin-bottom: 1em;
  margin-top: 0;
  color: #666666;
}

h4 {
  font-family: "europa";
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: .5em;
  color: #666666;
}

h5 {
  font-family: "europa";
  font-weight: 400;
  font-size: 22px;
  margin-top: .5em;
}

h5 small {
  display:block;
  font-family: "europa";
  font-weight: 400;
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: #666666;
  
}